<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.z.mapper.UserMapper">

    <!-- 通过用户名和登录类型查找用户 -->
	<select id="findByPhone">
		SELECT * FROM t_user_auth WHERE username = #{username} AND type = #{type}
		AND is_deleted IS NOT TRUE
	</select>




</mapper>



